<main class="page__main">
  <section class="page__left--section">
    <form action="" method="post" id="form" class="search-form">
      <input
        type="text"
        class="search-form__show js-search-show"
        placeholder="Nombre de la serie"
      />
      <button
        type="submit"
        id="btn-search"
        class="search-form__button js-search-button"
      >
        Buscar
      </button>
    </form>
    <!-- <button type="button" id="btn-log" class="search-log__button">Log</button> -->
    <h2 class="main__favorites--title">Mis series favoritas</h2>
    <ul class="main__favorites js-favorites-list">
      <!-- Esto se rellena con el main.js paintFavorite -->
    </ul>
    <button class="reset__button js-reset-button">Borrar</button>
  </section>
  <section class="page__right--section">
    <div class="msg-no-results msg-no-results--hidden">
      <p class="msg-no-results__text">No se han encontrato resultados</p>
    </div>
    <ul class="main__list js-shows-list">
      <!-- Esto se rellena con el main.js paintShows -->
    </ul>
  </section>
</main>
